<h1>New Wishlist</h1>

<%= form_for @list do |f| %>
  <div class='field'>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :item_count, 'Number of Items' %>
    <%= f.text_field :item_count %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>